# Environment variables & secrets
.env
*.env

# Python Virtual Environments
.venv/
venv/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]

# macOS system files
.DS_Store

# IDE & Tool metadata
.vscode/
.idea/
.gemini/
